name: C++ CI

on:
  push:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake
        
    - name: Configure CMake
      run: cmake -B build .
      
    - name: Build
      run: cmake --build build
      
    - name: Check executable exists
      run: |
        ls -la build/
        test -f build/lb2 && echo "Executable found" || echo "Executable not found"
      
    - name: Run Program
      run: |
        cd build
        ./lb2 < ../ip_filter.tsv

  build-windows:
    runs-on: windows-latest
    needs: build-linux 
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure CMake
      run: cmake -B build .
      
    - name: Build
      run: cmake --build build --config Release
      
    - name: Run Program
      run: |
        Get-Content ip_filter.tsv | .\build\Release\lb2.exe